node_modules
.DS_Store
dist
dist-ssr
*.local
coverage
.nyc_output

# Yarn Plug'n'Play
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# external images
src/img
# cypress takes screencaps on test failure
cypress/screenshots

storybook-static